#html, body{
  padding: 0;
  margin: 0;

  height: 100%;
  color:black;
}

body{
      align-items: center;
    display: flex;
    background-color: black;
    height: 110vh;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}

#main-content{
    background-color: darkslateblue;;
    border-radius: 10px;
    border-color: darkslateblue;
    border: 10px;
    height: 1000px;
    width: 1900px;
    justify-items: anchor-center;

     
}

#Explain{
       color: green;
    font-size: x-large;
}

#link{
        color: blue;
    font-size: large;
}

#side-content{
    height: inherit;
    width: inherit;
    place-content: end;
    inline-size: max-content;
    border: cyan;
    border-radius: inherit;
}

#side-content a button{

    padding: 30px;
    color: rgb(0, 98, 255);
    background-color: black;
    border-radius: 6px;
    border-color: rgb(0, 98, 255);
    font-size: 16px;
    
}

#side-content a button:hover{
    transition:ease-in-out 0.3s;
    border-radius: 15px;
    border-color:rgb(77, 145, 255);
}
